[project]
	description = my first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhishek (abhishekpawar)
[access "refs/for/refs/*"]
	read = group user/Abhishek (abhishekpawar)
	push = group user/Abhishek (abhishekpawar)
	label-Code-Review = -2..+2 group user/Abhishek (abhishekpawar)
	label-Verified = -1..+1 group user/Abhishek (abhishekpawar)
	rebase = group user/Abhishek (abhishekpawar)
	removeReviewer = group user/Abhishek (abhishekpawar)
	submit = group user/Abhishek (abhishekpawar)
[access "refs/heads/*"]
	read = group user/Abhishek (abhishekpawar)
	create = group user/Abhishek (abhishekpawar)
	push = +force group user/Abhishek (abhishekpawar)
	pushMerge = group user/Abhishek (abhishekpawar)
[access "refs/tags/*"]
	push = +force group user/Abhishek (abhishekpawar)
	pushTag = group user/Abhishek (abhishekpawar)
	pushSignedTag = group user/Abhishek (abhishekpawar)
